.carousel {
    background-color: $teal;
    padding-bottom: 10px;
}

.carousel-item {
    height: 400px;
}


.carousel-inner {
    max-width: 600px;
    margin: 0 auto;
}

.carousel-indicators .active {
    background-color: $blue;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}





