.form {
    padding: 40px 0;

    &__container {
        max-width: 500px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__topic {
        margin: 0;
        padding: 0;
    }

    &__label {
        padding: 20px 0 0 0;
        display: inline-block;
        margin-bottom: 5px;
        font-size: 0.8rem;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 2px;
        resize: vertical;
    }

    &__submit {
        margin-top: 15px;
        background-color: $pink;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        width: 150px;
        transition: ease-in-out .2s;
        font-weight: 300;
        outline: none;
    }

    @include medium {
        &__submit:hover {
            background-color: $teal;
            transition: ease-in-out .2s;
        }
    }
  }


.checkbox {
    margin: 30px 0;

    &__alert {
        font-size: 0.7rem;
    }

    &__label {
        position: relative;
        cursor: pointer;
        font-size: 0.7rem;
    }

    &__content {
        display: block;
    }

    &__input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }
}

  
  
  .checkbox__label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: .5px solid rgb(174, 171, 171);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .checkbox__input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 8px;
    border: solid $pink;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }


  
  
  
  

