.form {
    padding: 40px 0;

    &__container {
        max-width: 500px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__topic {
        margin: 0;
        padding: 0;
    }

    &__label {
        padding: 20px 0 0 0;
        display: inline-block;
        margin-bottom: 5px;
        font-size: 0.8rem;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 2px;
        resize: vertical;
    }

    &__submit {
        margin-top: 15px;
        background-color: $pink;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        width: 150px;
        transition: ease-in-out .2s;
        font-weight: 300;
        outline: none;
    }

    @include medium {
        &__submit:hover {
            background-color: $teal;
            transition: ease-in-out .2s;
        }
    }
  }





  
  
  
  

