.hero {
    width: 100%;
    height: 100vh;
    background-image: url("./images/frank-mckenna.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &__bar {
        background-color: $pink;
        height: 30px;
    }

    &__container {
        max-width: 1440px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

    &__info {
        display: flex;
        font-size: 0.7rem;
        flex-direction: row;
        color: rgb(255, 219, 219);
        margin: auto 15px;
        cursor:pointer
    }

    &__detail {
        margin-left: 10px;
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__logo {
        width: 180px;
        height: 100px;
        background-image: url("./images/Sally Marshall Group Logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 15px;

        @include extra-small {
            margin: 0 auto;
            width: 250px;
        }

        @include small {
            width: 350px;
        }

        @include large {
            width: 550px;
        }
    }

    &__content {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $blue;
    }

    &__description {
        margin: 0 10px;
        max-width: 350px;
        line-height: 1.9;
        text-align: center;
        font-style: italic;
        font-weight: 300;

    }

   
}

.underline {
    margin: 30px 0;
    height: 1px;
    width: 100px;
    background-color: $blue;

    &--info {
        background-color: $white;
        margin: 30px auto;
    }

    &--reverse {
        background-color: $pink;

    }
}

.bounce{
    font-size: 2rem;
    color: $grey;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  } 
  
@-webkit-keyframes bounce {
  0%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-7px);}
} 

@keyframes bounce { 
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-7px);}
} 
