.info {
  // position: relative;
  background: #359ebc;
  overflow: hidden;


  &--reverse {
    background: $grey;
  }

  &__content {
    position: relative;
    z-index: 5;
    max-width: 650px;
    margin: 40px auto;
    text-align: center;
    color: $white;

    &--reverse {
      color: $pink;
    }
  }

  &__title {
    font-weight: 400;
    letter-spacing: 1px;

    &--reverse {
      color: $pink;
      text-align: center;
    }
  }

  &__description {
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
    margin: 0 15px;

    &--extra {
      font-style: normal;
      font-size: 0.8rem;
      margin: 0 15px;
    }
  }

  &__star {
    position: relative;
  }
}

// star background

.info__star:before{
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.09;
    background-image: url('./images/Star.svg');
    background-repeat: no-repeat;
    background-position: 105% -10%;
    background-size: contain;
}

.info__star--reverse:before{
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1 ;
  opacity: 0.8;
  background-image: url('./images/Star.svg');
  background-repeat: no-repeat;
  background-position: -10% -10%;
  background-size: contain;
}

@include medium {
  .info__star--reverse:before {
    background-size: 30%;
  }
}
