.media{
    background-color: $teal;
    height: 80px;

    &__content{
        margin: auto;
        width:170px;
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
}