.menu {
    &__hamburger {
        display: block;
        height: 100%;
        align-items: center;
        z-index: 10;
    }
    
    &__menu {
        display: flex;
        width: 35px;
        height: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-around;
        z-index: 5;
        position: absolute;
        margin-left: 15px;
        padding-top: 30px;
    }

    &__navbar {
        width: 100%;
        background-color: transparent;
    }

    &__container {
        transition: transform 1s;
        transform: translateX(-100%);
        position: absolute;
        top: 40px;
        z-index: 5;
        width: 320px;
        height: calc(100vh - 40px);
        background-color: $blue;
        transition: transform 0.5s;
    }

    &__list {
        margin-top: 100px;
    }

    &__item {
        padding: 20px 0 20px 80px;
        margin: 0 30px;
        list-style: none;
        color: $grey;
        cursor: pointer;
        border-bottom: 1px solid $pink;
    }
}

.line {
    width: 100%;
    height: 3px;
    background-color: #111B47;
    transition: .5s;
}

.change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
    background-color: $grey;
    transition: transform 0.5s;
}

.change .line-2 {
    opacity: 0;
    background-color: $grey;
    transition: transform 0.5s;
}

.change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
    background-color: $grey;
    transition: transform 0.5s;
}


.active {
    transform: translateX(0%);
    transition: transform 0.5s;
}